h2 {
  margin-bottom: 50px;
}

.todolist-wrapper {
  margin-top: 50px;
}

.checkbox-group {
  position: relative;

  input {
    &.checkbox {
      position: absolute;
      opacity: 0;
    }
  }

  .label-checkbox {
    color: #7e7e7e;
    cursor: pointer;
    margin-bottom: 0;

    fa {
      opacity: 1;
    }

    &.checked {
      color: green;
    }
  }
}

.btn-submit {
  margin-top: 15px;
}

.btn-orderby {
  cursor: pointer;
}

thead th {
  fa {
    opacity: 0;
  }

  &.active {
    fa {
      opacity: 1;
    }
  }
}
